@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f1faff;
  --text-dark: #030712;
  --text-light: #6b7280;
  --extra-light: #fbfbfb;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 80px 16px;
}

.section__title {
  padding-bottom: 8px;
  margin-bottom: 64px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: var(--text-dark);
  position: relative;
}

.section__title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 75px;
  background-color: var(--text-dark);
}

.btn {
  padding: 10px 32px;
  font-size: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header__bar {
  padding: 8px;
  font-size: 10px;
  text-align: center;
  background-color: var(--text-dark);
  color: var(--white);
}

.usefull__container {
  padding: 32px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.usefull__logo {
  font-size: 20px;
  font-weight: 700;
  color: var(--text-dark);
}

.usefull__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.link a {
  padding: 0 8px;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--text-dark);
}

.usefull__icons {
  display: flex;
  gap: 16px;
}

.usefull__icons span {
  font-size: 20px;
  cursor: pointer;
}

header {
  margin-top: 160px;
  background-color: var(--primary-color);
}

.header__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.header__content p {
  font-size: 12px;
  font-weight: 600;
  color: var(--text-light);
  margin-bottom: 8px;
}

.header__content h1 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 32px;
  color: var(--text-dark);
}

.header__content .btn {
  background-color: var(--text-dark);
  color: var(--white);
}


.collection__container {
  position: relative;
}

.collection__container img {
  max-width: 400px;
  margin: auto;
}

.collection__content {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
}

.collection__content .section__title {
  margin-bottom: 32px;
}

.collection__content p {
  font-size: 10px;
  color: var(--text-light);
  margin-bottom: 8px;
}


.collection__content .btn {
  border: 1px solid var(--text-dark);
  color: var(--text-dark);
  background-color: var(--white);
}

.collection__content .btn:hover {
  background-color: var(--text-dark);
  color: var(--white);
}

.brands__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.brand__image {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s;
}

.brand__image img {
  max-width: 120px;
}

.brand__image:hover {
  opacity: 1;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.footer__heading {
  color: var(--text-light);
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 16px;
  margin-bottom: 32px;
  position: relative;
}

.footer__heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50px;
  background-color: var(--text-light);
}

.footer__col p {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--text-light);
  cursor: pointer;
  transition: 0.3s;
}

.footer__col p:hover {
  color: var(--text-dark);
}

.footer__col p i {
  font-size: 16px;
  margin-right: 8px;
}


.footer__bar {
  padding: 32px 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 32px;
}

.copyright {
  font-size: 10px;
  font-weight: 500;
  color: var(--text-light);
}

.footer__form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__form form {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
}

.footer__form input {
  width: 100%;
  padding: 10px 16px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--text-dark);
  font-size: 10px;
}

.footer__form .btn {
  background-color: var(--text-dark);
  color: var(--white);
}

@media (width < 900px) {
  header {
    margin-top: 80px;
  }

  .shop__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .brands__container {
    grid-template-columns: repeat(3, 1fr);
  }


  .footer__bar {
    grid-template-columns: repeat(1, 1fr);
  }

  .copyright {
    text-align: center;
  }

  .footer__form {
    justify-content: center;
  }
}

@media (width < 600px) {
  .usefull__links {
    display: none;
  }

  header {
    margin-top: 0;
  }

  .shop__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .brands__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}





.shop__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.shop__nav a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-light);
  transition: 0.3s;
}

.shop__nav a:hover {
  color: var(--text-dark);
}

.shop__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.shop__card {
  display: grid;
  gap: 0.5rem;
  color: var(--text-dark);
  position: relative
}

.top-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease;
}

.top-img:hover {
  opacity: 1;
}

.shop__card h4 {
  font-size: 1rem;
  font-weight: 600;
}

.shop__card p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.shop__card p del {
  font-weight: 400;
  color: var(--text-light);
}